@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 100px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #7c2d12; 
    border-radius: 100px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #431407; 
    border-radius: 100px;
  }

  
  